- title "Articles"

- for article in @articles
  %div
    = link_to image_tag(article.background_image.url(:small)), article
    = link_to 'Edit', edit_article_path(article)
    = link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Article", new_article_path