- title @article.title

.title
  = @article.title

%br

%div
  =simple_format(@article.content)

- if admin?
  %p
    = link_to "Edit", edit_article_path(@article)
    |
    = link_to "Destroy", @article, :confirm => 'Are you sure?', :method => :delete
    |
    = link_to "View All", articles_path
