body {
  background-color: #FFFFFF;
  font-family: Verdana, Helvetica, Arial;
  font-size: 12px; }

.normal {
  font-family: Verdana, Helvetica, Arial;
  font-size: 12px;
  font-style: normal; }

.primary_color {
  color: #27394a; }

a {
  color: #27394a;
  font-weight: bold; }
  a img {
    border: none; }

.clear {
  clear: both; }


.title {
  font-size: 14px;
  font-weight: bold; }

.instructions {
  font-size: 10px;
  font-style: italic;
  float: left;
  width: 150px;
  padding-right: 10px;
  display: block; }

.center {
  text-align: center;
  width: 100%; }

.align_right {
  text-align: right; }

.float_left {
  float: left; }

.float_right {
  float: right; }

.inline {
  display: inline; }

.bold {
  font-weight: bold; }

.padding {
  padding: 20px; }

.padding_bottom {
  padding-bottom: 20px; }

.padding_right {
  padding-right: 20px; }

.padding_left {
  padding-left: 20px; }

.padding_top {
  padding-top: 20px; }

.margin_top {
  margin-top: 10px; }

.margin_bottom {
  margin-bottom: 10px; }

.margin_right {
  margin-right: 10px; }

.margin_left {
  margin-right: 10px; }

.margin {
  margin: 10px; }

.hidden {
  display: none; }

.section {
  border: 1px solid black; }

.dropshadow_thumb {
  background: url("../images/dropshadow.png") no-repeat bottom right;
  width: 90px;
  height: 75px;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  padding-right: 8px; }
  .dropshadow_thumb a img {
    position: relative;
    top: 0px;
    left: -2px;
    margin: -5px; }

.dropshadow_small {
  background: url("../images/dropshadow.png") no-repeat bottom right;
  width: 165px;
  height: 126px;
  margin-right: 20px;
  margin-bottom: 20px; }
  .dropshadow_small img {
    position: relative;
    top: -2px;
    left: -5px;
    margin: -5px; }

.dropshadow_large {
  background: url("../images/dropshadow.png") no-repeat bottom right;
  width: 400px;
  height: 294px;
  margin-bottom: 20px; }
  .dropshadow_large img {
    position: relative;
    top: -6px;
    left: 0px;
    margin: -5px; }

.dropshadow_agent {
  background: url("../images/dropshadow.png") no-repeat bottom right;
  width: 200px;
  height: 144px;
  float: left;
  margin-right: 20px;
  margin-top: 4px;
  margin-bottom: 20px; }
  .dropshadow_agent img {
    position: relative;
    top: -6px;
    left: 0px;
    margin: -5px; }

.photo_viewer {
  width: 400px;
  padding: 20px; }

.border {
  border-width: 5px;
  border-style: solid;
  border-color: #27394a; }

.small_agent {
  height: 90px; }

td {
  vertical-align: top; }

th {
  padding-top: 20px; }

#icons {
  padding-bottom: 10px; }

#site {
  width: 75%;
  margin: 0 auto; }

#container {
  background-color: #27394a;
  margin: 0 auto;
  padding: 10px;
  border: solid 1px black;
  margin-top: 20px; }


#agent {
  background-image: url(/images/logo.jpg);
  background-repeat: no-repeat;
  background-color: #ece2ad;
  text-align: right;
  color: #27394a;
  padding-top: 10px;
  width: 100%;
  height: 120px;
  font-weight: bold; }
  #agent img {
    margin: 0px 20px 10px 10px; }

#nav {
  padding: 0px;
  height: 62px; }

#nav, #nav ul {
  padding: 0;
  margin: 0;
  list-style: none; }

#nav a {
  display: block;
  font-size: 20px;
  font-weight: normal;
  text-decoration: none;
  color: #FFFFFF; }

#nav a:hover {
  color: #ece2ad; }

#nav li.top {
  border-right: 1px solid white;
  float: left;
  height: 44px; }

#nav li {
  background-color: #27394a;
  width: 100px;
  text-align: center;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 18px; }

#nav li ul {
  position: absolute;
  left: -999em; }

#nav li:hover ul {
  left: auto;
  margin-left: -18px; }

#nav li.sfhover ul {
  left: auto;
  margin-top: 4px; }

#nav li.sfhover li {
  margin-top: -2px;
  position: relative;
  left: -68px; }

#main {
  background-color: #ece2ad;
  padding: 30px; }

#footer {
  background-color: #27394a;
  clear: both; }

#flash_notice,
#flash_error {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6; }

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66; }

.fieldWithErrors {
  display: inline; }

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #c00;
    color: #fff; }
  #errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }
