#main {
  padding: 0px; }

#featured {
  float: left;
  width: 50%;
  height: 260px;
  border-right: 2px solid;
  border-color: #27394a;
  text-align: center; }

#cycle_featured {
  margin: 10px 22px 20px 22px;
  padding: 0px; }

#cycle_feature {
  float: right;
  color: #27394a;
  width: 200px;
  font-weight: bold; }

#mission {
  margin-left: 450px;
  padding-left: 40px;
  padding-top: 10px;
  height: 250px;
  width: 45%;
  font-weight: bold; }

#news {
  clear: both;
  height: 200px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: #27394a;
  font-size: 14px;
  font-weight: bold; }

#tag {
  float: left;
  width: 50%;
  height: 130px;
  text-align: center;
  border-right: 2px solid;
  border-color: #27394a;
  line-height: 2.0;
  font-size: 14px;
  font-weight: bold; }

#open_house {
  height: 130px;
  width: 45%;
  margin-left: 450px;
  text-align: center; }
