#main {
  padding: 0px; }

#featured {
  float: left;
  width: 388px;
  text-align: center;
  padding-top: 8px;
  padding-right: 8px; }

#cycle_featured {
  padding: 0px;
  padding-left: 20px; }

#cycle_feature {
  float: right;
  color: #1e2c5a;
  width: 170px;
  font-weight: bold; }

#flashy_buttons {
  border-left: 2px solid;
  border-color: #1e2c5a;
  margin-left: 400px;
  padding: 0px;
  padding-top: 3px;
  height: 279px;
  width: 375px; }

#flashy_buttons a img {
  padding: 0px;
  margin-top: -3px;
  height: 141px; }

#news {
  clear: both;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: #1e2c5a;
  font-size: 14px;
  font-weight: bold; }


#cycle_article {
  padding: 60px; }

#tag {
  float: left;
  width: 50%;
  text-align: center;
  border-right: 2px solid;
  border-color: #1e2c5a;
  line-height: 2.0;
  font-size: 14px;
  font-weight: bold; }

#flyers {
  width: 45%;
  margin-left: 395px;
  text-align: center; }
