- if featured_counter == 0
  ="<div id='feature#{featured_counter + 1}' class='feature'>"
- else
  ="<div id='feature#{featured_counter + 1}' class='hidden feature'>"
#cycle_feature
  =featured.title
  %br
  - unless featured.bedrooms.blank? || featured.bathrooms.blank?
    =featured.bedrooms
    Bedroom, 
    =featured.bathrooms
    Bath
    %br
  - unless featured.city.blank? || featured.state.blank?
    =featured.city
    , 
    =featured.state
.dropshadow_small=link_to(image_tag(featured.primary_photo.photo.url(:small)), featured)
="</div>"