- title "Home"
- stylesheet('home')
- javascript('jquery')
- javascript('home')

#featured
  .title.padding Featured Properties:
  #cycle_featured
    = render :partial => 'featured', :collection => @featured
  
#mission
  =simple_format(@agent.mission)

#news
  #cycle_news
    = render :partial => 'news', :collection => @articles
  
#tag
  =simple_format(@agent.tag)

#open_house
  =image_tag "open_house.png"

.clear