- title "Home"
- stylesheet('home')
- javascript('jquery')
- javascript('home')

#featured
  .title.padding Featured Properties:
  %br
  #cycle_featured
    = render :partial => 'featured', :collection => @featured
  
#mission
  #mission_text
    =simple_format(@agent.mission)

#news
  #cycle_news
    = render :partial => 'news', :collection => @articles
  
#tag
  =simple_format(@agent.tag)

#open_house
  =link_to(image_tag("open_house.png"), new_email_path(:email_type => "open_house"))
  
.clear