- title "Home"
- stylesheet('no-padding')
- javascript('jquery')
- javascript('home')

#mission
  .padding.primary_color
    ="At #{APP_CONFIG[:site_name]}, we have streamlined the real estate process and are able to pass significant savings on to our clients."
    %br
    %br
    ="As your agent I am committed to creating an enjoyable, convenient and affordable home buying and selling experience by providing innovative internet solutions and excellent service"
    %br
    %br
    ="Please feel free to browse my website and see why #{APP_CONFIG[:site_name]} is so unique.  We can assist throughout the entire transaction from your sale/purchase, mortgage, home warranty, closing, and insurance needs."

#featured
  %div.title.padding Featured Properties:
  #cycle_featured
    = render :partial => 'featured', :collection => @featured
  
#news
  .title News goes here
  
#open_house
  .center=image_tag "open_house.png"

#tag
  .title.primary_color.padding Your home is one of the greatest negotiations of your life.  Mistakes can be extremely costly.  How good is the agent representing YOU at the negotiating table?

.clear